###############################################################################
# Visual Studio
###############################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

###############################################################################
# Visual studio Cache
###############################################################################
*.cache
*.VC.db

###############################################################################
# Roslyn Cache
###############################################################################
*.ide

###############################################################################
# ReSharper / Rider (if ever used)
###############################################################################
_ReSharper*/
*.DotSettings.user

###############################################################################
# Build Output
###############################################################################

[Bb]in/
[Oo]bj/
[Ll]og/
artifacts/

###############################################################################
# Test Results
###############################################################################

TestResults/

###############################################################################
# NuGet
###############################################################################

packages/

###############################################################################
# OS Files
###############################################################################

Thumbs.db
Desktop.ini