###############################################################################
# Visual Studio
###############################################################################

.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

###############################################################################
# Build Output
###############################################################################

[Bb]in/
[Oo]bj/
[Ll]og/

###############################################################################
# Test Results
###############################################################################

TestResults/

###############################################################################
# NuGet
###############################################################################

packages/

###############################################################################
# OS Files
###############################################################################

Thumbs.db
Desktop.ini